
<div class="gallerys">
  <div class="img">
    <img src="https://images.unsplash.com/photo-1604580825024-e7bfa9ca7cbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
<div class="img">
    <img src="https://images.unsplash.com/photo-1604559258419-124e23c102e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
<div class="img">
    <img src="https://images.unsplash.com/photo-1588770878098-90fac9857313?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
<div class="img">
    <img src="https://images.unsplash.com/photo-1604580493681-464df06de70c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
<div class="img">
    <img src="https://images.unsplash.com/photo-1604544692995-e659bda8051e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
<div class="img">
    <img src="https://images.unsplash.com/photo-1593642633279-1796119d5482?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
<div class="img">
    <img src="https://images.unsplash.com/photo-1604595704234-3d2cfcd6f959?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
<div class="img">
    <img src="https://images.unsplash.com/photo-1604579552539-c12383bb1008?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
<div class="img">
    <img src="https://images.unsplash.com/photo-1513364776144-60967b0f800f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
  </div>
</div>
<footer>
<span>All Gallery Copyright By ...</span>
</footer>